/* html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #F5F5F7;
  }
  .nav-container {
    max-width:  1400px;
} */
p{
  font-weight: 400 !important;
}
body {
  background-color: #F5F5F7;
}
.container {
  width: 100%;
  position: relative;
  padding-top: 5rem;
}

.box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 90%;
  background-color: white;
  border-radius: 15px;
  margin-top: 1rem;
  display: flex;
}

.box:hover {
  background: linear-gradient(to left, #303030, #9d72c8);
  color: white !important;
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

.box:hover .b-one p {
  color: white;
}
.b-one {
  width: 80%;
  height: 100%;
  position: relative;
}
.b-one h1 {
  font-size: 1.5rem;
}
.b-two {
  width: 20%;
  position: relative;
}
.form-para{
  font-size: 0.8rem;
  font-weight: 200;
}
.form-head{
  line-height: 30px;
}
.b-two span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ;
}
