@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", sans-serif !important;


  }
  
  body {
    margin: 0;
    background-color: #F5F5F7;
  }
  .nav-container {
    max-width:  1400px;
} */
p{
  font-weight: 400 !important;
}
body {
  background-color: #F5F5F7;
}
.container {
  width: 100%;
  position: relative;
  padding-top: 0rem;
}

.box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 90%;
  background-color: white;
  border-radius: 15px;
  margin-top: 1rem;
  display: flex;
}

.box:hover {
  background: linear-gradient(to left, #303030, #9d72c8);
  color: white !important;
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

.box:hover .b-one p {
  color: white;
}
.b-one {
  width: 80%;
  height: 100%;
  position: relative;
}
.b-one h1 {
  font-size: 1.5rem;
}
.b-two {
  width: 20%;
  position: relative;
}
.form-para{
  font-size: 0.8rem;
  font-weight: 200;
}
.form-head{
  line-height: 30px;
}
.b-two span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ;
}

body.no-scroll {
  overflow: hidden !important; /* Disable scrolling */
}


.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.popup-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  z-index: 20;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.popup img {
  width: 100%;
  height: auto;
}