@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.markersadaMainDiv-card {
  width: 20rem;
  position: relative;
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.markersadaMainDiv-card > * {
  /* grid-area: 1/1; */
  transition: 0.4s;
}
p {
  font-weight: 400 !important;
}
.markersadaMainDiv-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.markersadaMainDiv-card .markersadaMainDiv-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif !important;


  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: 0.75rem;
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  /* -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0); */
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
.markersadaMainDiv-card:hover .markersadaMainDiv-content {
  --_i: 0%;
}
.markersadaMainDiv-card:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  .markersadaMainDiv-card .markersadaMainDiv-content {
    -webkit-mask: none;
    color: #fff;
  }
}

.markersadaMainDiv-content h1,
h2,
h3,
h4,
h5 {
  color: #1e1e1e;
  font-weight: 400;
}

.markersadaMainDiv-h1 {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  color: #1e1e1e;
  text-align: center;
}

/* .markersadaMainDiv-h1::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
} */

.markersadaMainDiv {
  margin: 0;
  padding: 0rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
}

.whyMakersada {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.whyMakersada-h2 {
  width: 30%;
}

.whyMakersada-p {
  width: 70%;
}

.cardSingleDiv {
  width: 250px;
  box-shadow: 0px 0px 10px #9c9898;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 20px;
}

.cardSingleDiv:hover {
  box-shadow: 0px 0px 20px #9c9898;
}

@media (max-width: 1300px) {
  .markersadaMainDiv {
    padding: 0rem 4rem 3rem 4rem;
  }
}
@media (max-width: 768px) {
  .whyMakersada {
    flex-direction: column;
  }
  .whyMakersada-h2 {
    width: 100%;
  }
  .whyMakersada-p {
    width: 100%;
  }
}
